# Ignore Play! working directory #
logs
target/.history
target/coffeescript
target/jshint
target/less
target/native_libraries
target/resolution-cache
target/scala-2.11
target/streams
target/universal
target/web
target/docker/opt
target/docker/stage/opt/docker
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
bin/
/db
.eclipse
/lib/
/logs/
/modules
project/project
project/target
project/.sbtserver
tmp/
test-result
server.pid
*.eml
*.log
.sbtserver/connections/*.log
.sbtserver/connections/*.log.*
.sbtserver/*.log
.sbtserver/*.log.*
/dist/
.cache
.idea/
*.log

