# Ignore Play! working directory #
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/project/.sbtserver
/target
tmp/
test-result
server.pid
*.eml
*.log
.sbtserver/connections/*.log
.sbtserver/connections/*.log.*
.sbtserver/*.log
.sbtserver/*.log.*
/dist/
.cache
.idea/
*.log

